apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-fluent-bit-configmap
  namespace: {{ .Release.Namespace }}
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush                     2
        Daemon                    Off
        Parsers_File              parsers.conf
        Log_Level                 info
        HTTP_Server               On
        HTTP_Listen               0.0.0.0
        HTTP_Port                 2020
        storage.type              filesystem
        storage.path              /var/log/flb-storage/
        storage.sync              normal
        storage.checksum          off
        storage.max_chunks_up     128
        storage.backlog.mem_limit 5M
    [INPUT]
        Name                tail
        Path                /var/log/{{ .Values.logName }}.log
        Tag                 {{ .Values.tag }}
        Mem_Buf_Limit        5MB
        DB                  /var/log/flb_kube.db
        Refresh_Interval     10
        Rotate_Wait          5
        Ignore_Older         24h
        Read_from_head    true
        Multiline.parser  multiline
    [FILTER]
        Name              lua
        Match             *
        Script            /fluent-bit/scripts/add_timestamp.lua
        Call              add_timestamp
    [FILTER]
        Name              modify
        Match             *
        Rename            timestamp @timestamp
    [OUTPUT]
        Name                es
        Match               *
        Host                {{ .Values.host }}
        Port                9200
        tls                 Off
        http_user           ${FLUENT_ELASTICSEARCH_USER}
        http_passwd         ${FLUENT_ELASTICSEARCH_PASSWORD}
        Index               {{ .Values.index }}
        Logstash_Prefix     {{ .Values.prefix }}-${FLUENT_APP_NAME}
        Logstash_DateFormat %Y.%m.%d
        Logstash_Format     On
        Retry_Limit         False
        Suppress_Type_Name  On
        Type                _doc
        Time_Key            @timestamp
  parsers.conf: |
    [MULTILINE_PARSER]
        Name          multiline
        Type          regex
        Flush_Timeout 1000
        rule "start_state"  "^\[?\d{4}-\d{2}-\d{2}|\d{1,3}(\.\d{1,3}){3}"  "cont"
        rule "cont"         "^\s|^at\s|^Error|^\{"  "cont"
